service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth.uid != null;
    }
    function isYou(userId) {
      return request.auth.uid == userId;
    }
  	match /users/{userId} {
    	allow read;
      allow write: if isAuthenticated() && isYou(userId);
    }
    match /preferences/{userId} {
    	allow read;
      allow write: if isAuthenticated() && isYou(userId);
    }
    match /entries/{entryId}/comments/{commentId} {
      function validComment() {
        return isYou(request.resource.data.userId) &&
        request.resource.data.comment is string &&
        request.resource.data.comment.size() > 10 &&
        request.resource.data.comment.size() < 2000 &&
        request.resource.data.addedOn is timestamp;
      }

      allow read;
      allow create: if isAuthenticated() && validComment();
      allow update: if isAuthenticated() && validComment() && isYou(resource.data.userId);
      allow delete: if isYourComment()
    }
    match /{document=**} {
      allow read;
      allow write: if false;
    }
  }
}
