<div class="logo-container">
  <img src="assets/pwa-icons/ms-icon-310x310.png" class="logo" />
</div>
<form class="wiki-autocomplete">
  <mat-form-field class="wiki-autocomplete-field">
    <input
      matInput
      placeholder="Search any topic"
      aria-label="Search any topic"
      [matAutocomplete]="auto"
      [formControl]="searchControl"
    />
    <mat-icon matSuffix>search</mat-icon>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="select($event)">
      <mat-option
        *ngFor="let article of articles$ | async"
        [value]="article?.url"
      >
        {{ article?.title }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<h2 class="featured-heading">Featured Articles</h2>
<div>
  <a
    *ngFor="let article of featuredArticles"
    [routerLink]="article.url"
    class="featured-card"
  >
    <mat-card>
      <h3>{{ article.title }}</h3>
      <p>{{ article.description }}</p>
    </mat-card>
  </a>
</div>
