<mat-toolbar class="toolbar">
  <button mat-icon-button (click)="tocOpened = !tocOpened">
    <mat-icon>menu</mat-icon>
  </button>
  {{ title }}
  <a *ngIf="wikipediaUrl" mat-icon-button [href]="wikipediaUrl" target="_blank">
    <mat-icon>open_in_new</mat-icon>
  </a>
  <span class="spacer"></span>
  <form class="wiki-autocomplete">
    <mat-form-field class="wiki-autocomplete-field">
      <input
        matInput
        placeholder="Search any topic"
        aria-label="Search any topic"
        [matAutocomplete]="auto"
        [formControl]="searchControl"
      />
      <mat-icon matSuffix>search</mat-icon>
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="select($event)"
      >
        <mat-option
          *ngFor="let article of articles$ | async"
          [value]="article?.url"
        >
          {{ article?.title }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</mat-toolbar>

<mat-sidenav-container class="__content_renderer__">
  <mat-sidenav mode="over" [(opened)]="tocOpened">
    <section #tocPlaceholder class="toc-placeholder"></section>
  </mat-sidenav>
  <mat-sidenav-content>
    <section #htmlPlaceholder class="html-placeholder"></section>
    <br />
    <div *ngIf="error">
      Unable to fetch content for requested page. Please check the url once or
      search from home page.
    </div>
    <wiki-comment [docId]="wikipediaUrl" *ngIf="wikipediaUrl"></wiki-comment>
  </mat-sidenav-content>
</mat-sidenav-container>
